{% extends 'base.html'%}
{% load static %}
{% block title %}Trash {% endblock %}
{% block content %}
			<div class="container">
				<div class="main__inner">
					<div class="column">
						<h2 class="text">
							Прием заказов
						</h2>
						<img src='{% static "img/1.png" %}' alt="" class="image">
						<a href="" class="btn">Заказы не прошедшие проверку на техническую исполнимость</a>
					</div>
					<div class="column">
						<h2 class="text">
							Управление квотами
						</h2>
						<img src='{% static "img/2.png" %}' alt="" class="image">
						<a href="" class="btn">Заполнение квот</a>
					</div>
					<div class="column">
						<h2 class="text">
							Календарное планирование
						</h2>
						<img src='{% static "img/3.png" %}' alt="" class="image">
						<a href="" class="btn">Загрузка агрегатов</a>
						<a href="" class="btn">Плановый OTIF</a>
						<a href="" class="btn">Уровни запасов</a>
						<a href="" class="btn">Загрузка кампаний</a>
					</div>
					<div class="column">
						<h2 class="text">
							Комбинирование заказов
						</h2>
						<img src='{% static "img/4.png" %}' alt="" class="image">
						<a href="" class="btn">Формирование и передача комбинаций</a>
					</div>
					<div class="column">
						<h2 class="text">
							Графикование КЦ
						</h2>
						<img src='{% static "img/5.png" %}' alt="" class="image">
						<a href="" class="btn">Составление и передача серий</a>
						<a href="" class="btn">Следование КП</a>
					</div>
					<div class="column">
						<h2 class="text">
							Графикование ЦГП
						</h2>
						<img src='{% static "img/6.png" %}' alt="" class="image">
						<a href="" class="btn">Составление и передача монтажей</a>
						<a href="" class="btn">Следование КП</a>
						<a href="" class="btn">Резервирование</a>
					</div>
					<div class="column">
						<h2 class="text">
							Составление ССЗ
						</h2>
						<img src='{% static "img/7.png" %}' alt="" class="image">
						<a href="" class="btn">Составление ССЗ</a>
						<a href="" class="btn">Следование КП</a>
						<a href="" class="btn">Резервирование</a>
					</div>
					
				</div>
			</div>

{% endblock %}